@charset "ISO-8859-1";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
	margin-top:-90px;
}
.content-above {
	
            margin-bottom: 20px;
            margin-top: -190px;
        }

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

tr:last-child td {
    border-bottom: none;
}
