body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin: 50px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
}

.container label {
    display: block;
    margin: 10px 0 5px;
}

.container input[type="text"], .container input[type="email"], .container select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#21a9d3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #45a049;
}
