@charset "ISO-8859-1";

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    margin-top: 40px;
}

h3 {
    text-align: center;
    font-weight: bold;
    color: rgb(37, 26, 100);
    margin-top: 40px;
    margin-bottom: 20px;
}

.container {
    margin: auto auto;
    max-width: 1000px;
    margin-right: -300px;
}

.content-table {
    border-collapse: collapse;
    margin-left: 450px; /* Increase margin-left to shift the table more to the right */
    margin-top: 25px;
    font-size: 0.5em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table th tr {
    background-color: blue;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 10px 10px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:active-row {
    font-weight: bold;
}

.content-table th {
    text-align: left;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
}
